name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
        - 5432:5432
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: admin
          MYSQL_DATABASE: test
          MYSQL_USER: test
          MYSQL_PASSWORD: "test"
        ports:
        - 3306:3306
    steps:
    - uses: actions/checkout@master
    - uses: denolib/setup-deno@master
      with:
        deno-version: 1.2.1
    - name: Check cli.ts
      run: |
        deno run -A ./cli.ts version
    - name: Run tests
      run: |
        cp ./ormconfig.gh-actions.json ./ormconfig.json
        deno run --allow-read --allow-write --allow-env --allow-net --config ./tsconfig.json -r ./test.ts
